body{

	background-image: url(https://acpe.edu.au/wp-content/uploads/2020/09/Gym-Blog-Header.png);
}
.title{
	color: black;
}
	
	
.container{
	width: 100%;
	height: 100vh;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-container{
	display: flex;
	width: 600px;
	height: auto;
	background: white;
}
.ingreso, .registro{
	flex: 1;
}
.ingreso{
	padding: 40px;
	position: relative;
	background-image: linear-gradient(to bottom right, #fffc00, #ffffff);
}
	
.ingreso h2{
	color: black;
	margin-bottom: 30px;
}
.ingreso input{
	width: 100%;
	padding: 5px;
	font-size: 16px;
	margin-bottom: 25px;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom: 1px solid #a8a8a8;
	color: #333;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
}
 .ingreso input:active,
 .ingreso input:focus{
	 outline: none;
 }
 .ingreso .submit{
	 width: auto;
	 padding: 10px;
	 background: red;
	 color: white;
	 font-size: 12px;
	 cursor: pointer;
	 border-radius: 10%;
	 box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
 }
	

	
