body{

	background-image: url(https://acpe.edu.au/wp-content/uploads/2020/09/Gym-Blog-Header.png);
}
.title{
	color: white;
}
	
	
.container{
	width: 15%;
	padding: 5px;
	font-size: 16px;
	margin-bottom: 25px;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom: 1px solid #a8a8a8;
	background: #171717;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
	border-radius: 50%;
}
	
}
.ingreso, .registro{
	flex: 1;
}
.ingreso{
	padding: 40px;
	position: left;
	background: #E70D0D;
}
	
.ingreso h2{
	color: black;
	margin-bottom: 30px;
}
.ingreso input{
	width: 100%;
	padding: 5px;
	font-size: 16px;
	margin-bottom: 25px;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom: 1px solid #a8a8a8;
	color: #333;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
}
 .ingreso input:active,
 .ingreso input:focus{
	 outline: none;
 }
 .ingreso .submit{
	 width: auto;
	 padding: 10px;
	 background: red;
	 color: white;
	 font-size: 12px;
	 cursor: pointer;
	 border-radius: 10%;
	 box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
 }
	

	
